body {
    background-color: #FFBF9B;
    
}

h1 {
    color: blue;
}

h3 {
    color: darkolivegreen;
}



hr {
    border-color: gray;
    border-style: dotted none none ;
     
    width: 5%;
    border-width: 5px;
    
}